    <article class="post">
      <div class="title">
        {{title}}
      </div>
      <div class="repo">
        <a href="{{github_repo_url}}" target="_blank">{{github_repo_url}}</a>
        {{!-- <span>({{format_url post_url}})</span> --}}
      </div>
      <div class="github-description">
        <p>
          {{text_body}}
        </p>
      </div>
      <div class="meta">
        Post created by {{user.username}} on {{format_date created_at}}
        |
        {{!-- <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a> --}}
      </div>
    </article>