<div class="col s12 m6 l6">
  {{! <div class="card blue-grey darken-1"> }}
  <article class="post">
    <div class="card stick-action blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"><h5 class="center">{{title}}</h5></span>
        <p class="light">{{text_body}}</p>
      </div>
      <div class="card-action">
        <a href="{{github_repo_url}}" target="_blank">{{title}}
          - Github repo</a>
        <a href="#">{{user.username}}</a>
        <span class="white-text">| </span>
        <span class="white-text">Posted {{format_date created_at}}</span>
        <a class="white-text" href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
      </div>
    </div>
  </article>
</div>