<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text">
            <i class="material-icons">flash_on</i>
          </h2>
          <article class="post">
            <div class="title">
              <h5 class="center">{{title}}</h5>
              <p class="light">{{text_body}}</p>
              <a href="{{github_repo_url}}" target="_blank">{{title}}
                - Github repo</a>
            </div>
            <div class="meta">
              Posted by
              {{user.username}}
              on
              {{created_at}}
              |
              <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>