<div class="container">
  <div class="row">
    <div class="col s12 m12 l12">
      <section>
        <form class="new-post-form">
          <div>
            <label for="Post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
          </div>
          <div>
            <label for="github-reponame">Repo Name:</label>
            <input id="github-reponame" name="github-reponame" placeholder="Repo Name"/>
          </div>
          <div>
            <label for="github-repo-url">Repo URL:</label>
            <input id="github-repo-url" name="github-repo-url" placeholder="Repo URL"/>
          </div>
          {{!-- <div>
            <label for="repo-description">Description:</label>
            <textarea id="repo-description" name="repo-description" placeholder="Description"/>
          </div> --}}
          <button type="submit" class="btn">Create</button>
        </form>
      </section>
    </div>
  </div>

  {{!-- if there posts show them --}}
  {{#if posts.length}}
  <div class="row">
    {{#each posts as |post|}}
    <div class="col s6 m6 l6">
      <div class="card stick-action blue-grey darken-1">
        <div class="card-content activator white-text">
          <span class="card-title">{{post.title}}<i class="material-icons right">more_vert</i></span>
          <p>{{post.text_body}}</p>
        </div>
        <div class="card-action">
          <a href="{{post.github_repo_url}}" target="_blank">{{getGithubUsername post.github_repo_url}}</a>
          <a href="#">This is a link</a>
        </div>
        <div class="card-reveal">
          <span class="card-title">Created<i class="material-icons right">close</i></span>
          <p>Add to DB by {{post.user.username}} on {{format_date created_at}}</p>
        </div>
      </div>
    </div>
    {{/each}}

  </div>
  {{/if}}
</div>
<script src="/javascript/add-post.js"></script>