{{! file structure must be  setup like this }}
{{!-- <ol class="post-list">
  {{#each posts}}
    {{! loop over any HTML code the each statements }}
    <li>
      <article class="post">
        <div class="title">
          <h3>{{title}}</h3>
          <p>{{text_body}}</p>
          <a href="{{github_repo_url}}" target="_blank">{{title}}
            - Github repo</a>
        </div>
        <div class="meta">
          Posted by
          {{user.username}}
          on
          {{created_at}}
          |
          <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
        </div>
      </article>
    </li>
  {{/each}}
</ol> --}}

<!-- Posts content  -->
<article class="post">
  {{#each posts as |post|}}
    {{> post-info post }}
  {{/each}}
</article>
