{{! file structure must be  setup like this }}
{{!-- <ol class="post-list">
  {{#each posts}}
    {{! loop over any HTML code the each statements }}
    <li>
      <article class="post">
        <div class="title">
          <h3>{{title}}</h3>
          <p>{{text_body}}</p>
          <a href="{{github_repo_url}}" target="_blank">{{title}}
            - Github repo</a>
        </div>
        <div class="meta">
          Posted by
          {{user.username}}
          on
          {{created_at}}
          |
          <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
        </div>
      </article>
    </li>
  {{/each}}
</ol> --}}

<!-- Posts content  -->
{{#each posts}}
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text">
              <i class="material-icons">flash_on</i>
            </h2>
            <article class="post">
              <div class="title">
                <h5 class="center">{{title}}</h5>
                <p class="light">{{text_body}}</p>
                <a href="{{github_repo_url}}" target="_blank">{{title}}
                  - Github repo</a>
              </div>
              <div class="meta">
                Posted by
                {{user.username}}
                on
                {{created_at}}
                |
                <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/each}}

{{! <div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text">
            <i class="material-icons">flash_on</i>
          </h2>
          <h5 class="center">Speeds up development</h5>

          <p class="light">
            We did most of the heavy lifting for you to provide a default
            stylings that incorporate our custom components. Additionally, we
            refined animations and transitions to provide a smoother experience
            for developers.
          </p>
        </div>
      </div>
    </div>
  </div>
</div> }}